////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$color-one: #cc0d29;
$color-two: #00afcc;
$color-three: #264558;
$color-four: #031a28;
$color-five: #aaaaaa;
$color-six: #efefef;
$color-seven: #fff;
$color-eight: #021b28;
