////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////

$mobile: 530px;
$large-mobile: 675px;
$small-tablet: 768px;
$tablet: 1066px;
$small-laptop: 1170px;
$large-laptop: 1380px;
$small-monitor: 1695px;
$monitor: 1800px;
