#section-six {
  background: $color-four;
  padding: 45px 40px 53px;
  @include mq(small-tablet) {
    padding: 65px 48px 60px;
  }
  @include mq(small-laptop) {
    padding: 65px 85px 65px;
  }
  @include mq(large-laptop) {
    padding: 81px 80px 95px;
  }
  @include mq(small-monitor) {
    padding: 81px 80px 85px;
  }
}

#sec-six-inner {
  text-align: center;
}

span#sec-six-title {
  display: block;
  @include type(
    (
      size: 30px,
      height: 33px,
      family: $primaryfont,
      color: $color-seven,
      weight: 700,
    )
  );
  &::after {
    margin-top: 30px;
    max-width: 285px;
    background: $color-one;
    @include margin_lr();
    @include contentdisplay();
    @include box(100%, 3px);
    @include mq(small-tablet) {
      margin-top: 35px;
    }
  }
}

#sec-six-pa-wrapper {
  margin-top: 30px;
  max-width: 500px;
  @include margin_lr();
  @include mq(large-mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0px 18px;
  }
  @include mq(small-tablet) {
    margin-top: 50px;
    max-width: 760px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include mq(small-laptop) {
    max-width: 1130px;
    grid-gap: 0px 28px;
  }
  @include mq(large-laptop) {
    margin-top: 90px;
    max-width: 100%;
  }
  @include mq(small-monitor) {
    max-width: 1390px;
  }
  a.sec-six-single-pa {
    display: block;
    position: relative;
    padding: 15px 6px;
    box-shadow: 0px 1px 20px #000000;
    max-width: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    background: $color-four;
    transition: background 200ms ease-in-out;
    @include margin_lr();
    @include mq(small-tablet) {
      margin-bottom: 22px;
      padding: 27px 11px;
      max-width: 100%;
      @include flex(center, center);
    }
    @include mq(small-laptop) {
      margin-bottom: 30px;
      padding: 32px 17px;
    }
    @include mq(large-laptop) {
      padding: 40px 20px;
    }
    @include mq(small-monitor) {
      padding: 42px 20px;
    }
    &:hover {
      background: $color-two;
      img {
        opacity: 0; // future sites want to have this
      }
    }
    span.sec-six-pa-title {
      display: block;
      position: relative;
      z-index: 1;
      @include type(
        (
          size: 14px,
          height: 18px,
          spacing: 1.12px,
          family: $primaryfont,
          color: $color-seven,
          weight: 700,
          align: center,
          transform: uppercase,
        )
      );
      @include mq(small-laptop) {
        @include quick_type(15px, 25px, null);
      }
      @include mq(large-laptop) {
        @include quick_type(17px, 25px, 3.4px);
      }
    }
    img {
      opacity: 0;
      object-fit: cover;
      transition: all 400ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
      @include box(100%);
      @include image();
      height: 100%;
      @include abs(0, null, null, 0);
    }
    &.bg-hover {
      &:hover {
        background: transparent;
        img {
          opacity: 1; // future sites want to have this
        }
      }
    }
  }
}

a.sec-six-button {
  margin-top: 32px;
  @include mq(small-laptop) {
    margin-top: 40px;
  }
}
