.content {
  @include type(
    (
      size: 15px,
      height: 25px,
      family: $primaryfont,
      color: $color-four,
    )
  );
  @include mq(small-laptop) {
    @include quick_type(16px, 30px, null);
  }
  @include mq(large-laptop) {
    @include quick_type(17px, 30px, null);
  }
  h2 {
    padding-bottom: 28px;
    @include type(
      (
        size: 18px,
        height: 20px,
        family: $primaryfont,
        color: $color-two,
        weight: 700,
      )
    );
    @include mq(small-laptop) {
      padding-bottom: 20px;
      @include quick_type(22px, 30px, null);
    }
    @include mq(large-laptop) {
      padding-bottom: 24px;
      @include quick_type(25px, 33px, null);
    }
    @include mq(small-monitor) {
      padding-bottom: 35px;
    }
  }
  h3 {
    padding-bottom: 15px;
    @include type(
      (
        size: 17px,
        height: 25px,
        family: $primaryfont,
        weight: 700,
        transform: uppercase,
      )
    );
    @include mq(small-tablet) {
      @include quick_type(18px, 25px, null);
    }
    @include mq(small-laptop) {
      line-height: 30px;
    }
  }
  h4 {
    margin-bottom: 23px;
    @include type(
      (
        size: 15px,
        height: 22px,
        weight: 700,
        family: $primaryfont,
        color: $color-one,
      )
    );
    @include mq(small-tablet) {
      @include quick_type(16px, 22px, null);
    }
  }
  a,
  span.go-back {
    color: $color-one;
    transition: all 200ms ease-in-out;
    text-decoration: underline;
    &:hover {
      color: $color-two;
    }
  }
  p,
  ul,
  ol {
    margin-bottom: 25px;
  }
  ul {
    list-style: none;
    li {
      font-weight: 700;
      padding-left: 20px;
      position: relative;
      margin-bottom: 25px;
      @include mq(small-laptop) {
        line-height: 25px;
      }
      @include mq(large-laptop) {
        line-height: 30px;
      }
      &:before {
        background: $color-one;
        border-radius: 50%;
        @include abs(8px, null, null, 0);
        @include box(7px);
        @include contentdisplay();
        @include mq(large-laptop) {
          top: 11px;
        }
      }
    }
  }
}
